<!DOCTYPE html>
<html lang="es">
    <%- include( '../partials/head') %>
    
    <body>
    
        <%- include('../partials/header') %>
        <main class="charger">
            <div>
                <form action="?_method=PUT" method="POST" enctype="multipart/form-data">
                    <fieldset class="form-prod-char">
                        <legend class="legend-formulario">Editar producto</legend>
                        
                        <label for="name">Nombre
                            <input type="text" id = "name" value="<%=product.name %>" name="name">
                        </label>
                            
                        
                        <label for="price">Precio
                            <input type="number" id="price" name="price" value="<%=product.price %>">
                        </label>
                        
                        <label for="category">Categoria: 
                            <select name="category" id="category">
                                <% for(let i=0; i< categories.length; i++){ %>
                                    <% if( categories[i] == product.category ){ %>
                                        <option value="<%=categories[i]%>" selected><%=categories[i]%></option>
                                    <% }else{ %>
                                        <option value="<%=categories[i]%>"><%=categories[i]%></option>
                                    <% }; %>  
                                <% }; %>  
                            </select>
                         </label>

                       
                         <label for="colours">Colores:
                            <div class="color">
                                
                                <%  for(let i=0;i<colours.length;i++){ %>
                                    <div class="check-c-s">
                                    <% if( colours[i].cod == (product.colours).find(e=>e == colours[i].cod) ){ %>
                                        <input type="checkbox" value="<%=colours[i].cod%>" name="colours" checked><%=colours[i].name%>  
                                    <% }else{ %> 
                                        <input type="checkbox" value="<%=colours[i].cod%>" name="colours"><%=colours[i].name%>
                                    <% }; %>
                                    </div>
                                <% }; %>  

                            </div>
                        </label>
                        
                        <label for="sizes">Talles:
                            <div class="checkbox-input">
                                <%  for(let i=0;i<sizes.length;i++){ %>
                                    <div class="check-c-s">
                                    <% if( sizes[i] == (product.sizes).find(e=>e == sizes[i]) ){ %>
                                        <input type="checkbox" value="<%=sizes[i]%>" name="sizes" checked><%=sizes[i]%>  
                                    <% }else{ %> 
                                        <input type="checkbox" value="<%=sizes[i]%>" name="sizes"><%=sizes[i]%>
                                    <% }; %>
                                    </div>
                                <% }; %>  
                            </div>
                        </label>

                        <label for="image">Imagen principal:
                            <img src="/images/products/<%= product['img-pr'] %>" alt="" width="50px">
                            <input type="file" name="image" id="image">
                        </label>

                        <% if(product['img-se'][0] !=null ){ %> 
                        <label for= "imgSec"> Marcar imagenes que se quedaran:
                            <div class="color">
                                <% for (let i =0; i< product['img-se'].length; i++){ %>
                                    <div class="check-c-s">
                                        <img src="/images/products/<%=product['img-se'][i]%>" width="50px">
                                        <input type="checkbox" name ="imgSec" value="<%=product['img-se'][i]%>"> 
                                    </div>
                                <% } %>
                            </div>
                        </label>
                        <% }; %> 

                        <label for="images">Imagenes secundarias:
                            <input type="file" name="images" id="images" multiple>
                        </label>

                        <label for="description">Descripción: 
                            <textarea name="description" id="description" cols="30" rows="5" class="description"><%=product.description%></textarea>
                        </label>

                        <div class="bt">
                            <input type="submit" value="Editar">
                        </div>

                    </fieldset>
                </form>
            </div>
        </main>


        <%- include('../partials/footer') %> 
    </body>  